.banner-img{
     position: relative;
  width: 100%;
  height: 45vh; 
  background: url('https://img.freepik.com/premium-photo/black-cooking-background-rosemary-spices-black-stone-table-top-view-free-space-your-text_187166-60070.jpg') center center no-repeat;
  background-size: cover;
   
}
.banner-img h1{
    padding-top: 15vh;
    color:white;
  
}
.banner-img p{
    color:white;
    padding-left: 50px;
      padding-right: 50px;
    
}
